/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/base";

html {
  background: url("/tree.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: modular-scale(3);
  text-align: center;
  color: white;
  text-align: right;
  padding: $small-spacing;

}

.content-wrapper {
    margin-left:-200px;
    margin-top:-200px;
    width:400px;
    height:400px;
    position:fixed;

    a { text-decoration: underline; }
}

#display-problem-wrapper {
  padding: $base-spacing;
  border: 1px solid $light-gray;
  border-radius: 3px;
  display: block;
  background: white;
  min-height: 8em;
}


