/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/base";
@import "jquery.modal.min";

html {
  background: url("/tree.jpg") no-repeat center center fixed;
  background-size: cover;
}

textarea, input[type='email'] { background-color: lighten($light-gray, 10); }

h1 {
  font-size: modular-scale(3);
  text-align: center;
  color: white;
  text-align: right;
  padding: $small-spacing $small-spacing 0 $small-spacing;
  margin-bottom: 0.5em;
}

.content-wrapper {
    margin-left:-200px;
    margin-top:-200px;
    width:400px;
    height:400px;
    position:fixed;
}

#display-problem-wrapper {
  .inner {
    padding: $base-spacing;
    border: 1px solid $light-gray;
    border-radius: 3px;
    display: block;
    background: lighten($light-gray, 10);
    min-height: 8em;
    margin-bottom: $small-spacing
  }
}

.info-links {
  color: white;
  text-align: right;
  padding: 0 1.5em;

  a { color: white; }
}

#about { 
  &.modal { 
    width: auto;
    max-width: 600px; 
  }
}

#problem_body {
  height: 180px;
}

.blockquote {
  color: $medium-gray;
  font-style: italic;
}

// admin

.admin-wrapper {
  width: 100%;

  h1 { 
    color: #000;
    text-align: center;
    border-bottom: 1px solid $medium-gray;
    padding-bottom: $small-spacing;
  }

  form {
    padding: $small-spacing;
  }

  .controls { 
    padding: 0 $small-spacing;
    a { text-decoration: underline; }
  }
}

.admin-content {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: $small-spacing 0;
  background-color: rgba(255,255,255,0.9);
  height: 100%;
}

.stats {
  border-bottom: 1px solid $medium-gray;
  display: flex;
  flex-flow: row wrap;
}

.stat {
  padding: $small-spacing;
  text-align: right;
  flex: 1 0 246px;

  .value { 
    font-size: modular-scale(2);
    text-decoration: underline;
  }
}

.problems-table-wrapper {
  padding: 0 $small-spacing;
  a { text-decoration: underline; }
}

.problem-info {
  padding: $small-spacing;
  .field { margin-bottom: $small-spacing }
  .label { font-weight: bold }
}